* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Tahoma, "Trebuchet MS", sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}

.container {
	text-align: center;
}

.progress__bar {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 30px;
	max-width: 100%;
	width: 350px;
}

.progress__bar::before {
	content: '';
	background-color: #dadada;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 4px;
	width: 100%;
	z-index: -1;
}

.progress {
	background-color: #e53935;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 4px;
	width: 0%;
	z-index: -1;
	transition: 0.4s ease;
}

.circle {
	background-color: #fff;
	color: #808080;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid #dadada;
	transition: 0.4s ease;
}

.circle.active {
	border-color: #e53935;
}

.btn {
	background-color: #e53935;
	color: #fff;
	border: 0;
	border-radius: 6px;
	cursor: pointer;
	font-family: inherit;
	padding: 8px 30px;
	margin: 5px;
	font-size: 14px;
	transition: 250ms ease-in;
}

.btn:hover {
	background-color: #b5282f;
}

.btn:active {
	transform: scale(0.98);
}

.btn:focus {
 	outline: 0;
}

.btn:disabled {
	background-color: #dadada;
	cursor: not-allowed;
}

@media screen and (max-width: 400px) {
	.progress__bar {
		width: 250px;
	}
}