* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, "Trebuchet MS", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #4CB963;
}

h3 {
  color: #fff;
  margin: 10px 0 20px;
  text-align: center;
}

textarea {
  border: none;
  display: block;
  font-family: inherit;
  width: 100%;
  height: 100px;
  padding: 10px;
  margin: 0 0 20px;
  font-size: 16px;
  resize: none;
}

textarea:focus {
  outline: 0;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 2%;
}

.tag {
  background-color: #157F1F;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 5px 10px 0;
  font-size: 14px;
  display: inline-block;
}

.tag.highlight {
  background-color: #5C6784;
}



