* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.bg {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

h1 {
    font-size: 4rem;
    top: 20%;
    white-space: nowrap;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40%;
    text-decoration: none;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 15rem;
    padding: 1.5rem;
    transition: 250ms ease-in;
}

h1, .btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}

.bg.left .btn:hover {
    background-color: rgba(77, 121, 255, 1);
}

.bg.right .btn:hover {
    background-color: rgba(51, 171, 27, 1);
}

.bg.left {
    left: 0;
    background: url('../assets/p.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg.left::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 121, 255, 0.5);
}

.bg.right {
    right: 0;
    background: url('../assets/x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg.right::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 171, 27, 0.3);
}

.bg.right,
.bg.left,
.bg.right::before,
.bg.left::before {
    transition: all 1000ms ease-in-out;
}

.hover-left .left {
    width: 75%;
}

.hover-left .right {
    width: 25%;
}

.hover-right .right {
    width: 75%;
}

.hover-right .left {
    width: 25%;
}

@media (max-width: 800px) {
    h1 {
        font-size: 2rem;
        top: 30%;
    }

    .btn {
        padding: 1.2rem;
        width: 12rem;
    }
}
