* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, "Trebuchet MS", sans-serif;
}

body {
  background-color: #2196f3;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.user-form {
  width: 100%;
  max-width: 760px;
  padding: 0 4%;
}

.user-form input {
  width: 100%;
  display: block;
  background-color: #0d47a1;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 1rem;
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.user-form input::placeholder {
  color: #fff;
}

.user-form input:focus {
  outline: none;
}

.card {
  max-width: 960px;
  background-color: #0d47a1;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 3rem;
  margin: 0 4%;
}

.avatar {
  border-radius: 50%;
  border: 10px solid #448aff;
  height: 150px;
  width: 150px;
}

.user-info {
  color: #eee;
  margin-left: 2rem;
}

.user-info h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.user-info ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
}

.user-info ul li {
  display: flex;
  align-items: center;
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.repo {
  text-decoration: none;
  color: #fff;
  background-color: #448aff;
  border: 1px solid #fff;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  display: inline-block;
  transition: 350ms linear;
}

.repo:hover {
  color: #448aff;
  background-color: #fff;
  border: 1px solid #448aff;
}

@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .user-form {
    max-width: 400px;
  }
}