* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: rgb(163, 101, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.box {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px 40px;
    border-radius: 5px;
}

.box h1 {
    text-align: center;
    margin-bottom: 30px;
}

.box a {
    text-decoration: none;
    color: rgb(192, 127, 252);
}

button {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: rgb(192, 127, 252);
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    transition: 250ms ease-in;
}

button:focus {
    outline: 0;
}

button:active {
    transform: scale(0.98);
}

button:hover {
    background-color: rgb(159, 91, 223);
}

p {
    margin-top: 30px;
    text-align: center;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: rgb(192, 127, 252);
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
    color: rgb(192, 127, 252);
    transform: translateY(-30px);
}
  