* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Tahoma, "Trebuchet MS", sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow-x: hidden;
}

h2:not(.box h2) {
	margin: 10px;
}

.box {
	background-color: #f8cd32;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 500px;
	height: 250px;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
	transform: translateX(400%);
	transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
	transform: translateX(-400%);
}

.box.show {
	transform: translateX(0);
}

.box h2 {
	font-size: 45px;
}


